.vid_list {
  display: flex;
  flex-direction: column;
}

.vid-item {
  height: 120px;
  display: flex;
  flex-direction: row;
}

.vid-item-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.vid-item-thumb {
  padding: 10px;
}

.vid-item-controls  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.action-links a {
  margin-left: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: space-around;
}

body { padding-top: 70px; }



.roundedAvatar {
	line-height: 0;		/* remove line-height */
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 32px;
  width: 32px;
}
.roundedAvatar img {
	border-radius: 50%;	
}
.roundedAvatar:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
}
a.roundedAvatar {
  color: transparent;
}
